
SocketFTPClient/.vs/SocketFTPClient/v15/.suo
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-shm
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-wal
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-shm
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-wal
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide
