*.suo
SocketFTPClient/.vs/SocketFTPClient/v15/.suo
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-shm
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-wal
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-shm
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide-wal
SocketFTPClient/.vs/SocketFTPClient/v15/Server/sqlite3/storage.ide
SocketFTPClient/.vs/SocketFTPClient/v15/.suo
*ide*
*cache
SocketFTPClient/.vs/*
SocketFTPClient/SocketFTPClient/bin/Debug/SocketFTPClient.exe
SocketFTPClient/SocketFTPClient/obj/Debug/SocketFTPClient.csproj.CoreCompileInputs.cache
SocketFTPClient/SocketFTPClient/obj/Debug/SocketFTPClient.csproj.GenerateResource.cache
SocketFTPClient/SocketFTPClient/obj/Debug/SocketFTPClient.csproj.FileListAbsolute.txt

SocketFTPClient/SocketFTPClient/obj/
